#settings {
    display: block;
}

h2 { 
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #FC7001;
    margin-top: 20px;
    margin-bottom: 10px;
}

.top-left-h2 {
    position: absolute;
    top: 80px;
    left: 10px;
    color: #FC7001;
}
  
.top-right-h2 {
    position: absolute;
    top: 80px;
    right: 10px;
    color: #FC7001;
}

h3 { 
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #FC7001;
    margin-top: 10px;
    margin-bottom: 5px;
}

.connecting,
.in-game,
.plugins,
.proxies,
.loading {
    margin-top: 10px;
    border: 1px solid #DCDADE;
    padding: 10px;
}


input[type=“checkbox”] { 
    margin-right: 10px;
}

label { 
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333333;
}

p { 
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #999999;
    margin-left: 25px;
}

.input-row { 
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.number-input { 
    width: 50px;
    height: 25px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333333;
}

.increase-button, .decrease-button { 
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: #cccccc;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
}

input[type=“file”] { 
    margin-left: 10px;
}

select { 
    width: 100px;
    height: 25px;
    border-radius: 5px;
}