.settings #settings {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Chia trang thành 3 cột bằng nhau */
    gap: 10px; /* Khoảng cách giữa các box */
}
  
.settings h2 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #FC7001;
    margin-top: 20px;
    margin-bottom: 10px;
}
  
.settings .top-left-h2 {
    color: #FC7001;
    position: absolute;
    top: 80px;
    left: 10px;
}
  
.settings .top-right-h2 {
    color: #FC7001;
    position: absolute;
    top: 80px;
    right: 10px;
}
  
.settings h3 {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #FC7001;
    margin-top: 10px;
    margin-bottom: 5px;
}
  
.settings .connecting {
    border: 1px solid #DCDADE;
    padding: 10px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-left: 10px;
    margin-top: 50px;
}
  
.settings .in-game {
    border: 1px solid #DCDADE;
    padding: 10px;
    grid-column: 1 / 2;
    grid-row: 3;
    margin-left: 10px;
}
  
.settings .plugins {
    border: 1px solid #DCDADE;
    padding: 10px;
    grid-column: 2;
    grid-row: 1;
}
  
.settings .proxies {
    border: 1px solid #DCDADE;
    padding: 10px;
    grid-column: 2; /* Chiếm cột 2 (phía trên) */
    grid-row: 2 / -1; /* Chiếm các hàng còn lại (kéo dài xuống đáy trang) */
    margin-top: 80px; /* Lùi xuống so với top 80px */
}
  
.settings .loading {
    border: 1px solid #DCDADE;
    padding: 10px;
    grid-column: 3; /* Chiếm cột 3 */
    grid-row: 1 / -1; /* Chiếm các hàng còn lại (hết phần bên phải) */
}
  
  /* Styles for the content inside the boxes */
  .settings input[type="checkbox"] {
    margin-right: 10px;
}
  
.settings label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333333;
}
  
.settings p {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #999999;
    margin-left: 25px;
}
  
.settings .input-row {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
  
.settings .number-input {
    width: 50px;
    height: 25px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333333;
}
  
.increase-button,
.settings .decrease-button {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: #cccccc;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
}
  
.settings input[type="file"] {
    margin-left: 10px;
}
  
.settings select {
    width: 100px;
    height: 25px;
    border-radius: 5px;
}
  